{% extends "base.html" %}

{% block title %}{{ ctx.entry_name }} - {{ ctx.site_title }}{% endblock %}
{% block og_title %}{{ ctx.entry_name }} - {{ ctx.site_title }}{% endblock %}

{% block content %}
<div id="divbodyholder">
<div id="divbody">
<main>
<!-- content begin -->
    <h1 class="entry_title">{{ ctx.entry_name }}</h1>
    <ol>
    {% for file in ctx.entry.files_in_dir %}
        <li><a href="{{ file.path | as_subtitle_download_url }}" download="{{ file.name }}">{{ file.path.relative_to(ctx.entry.path_to_dir) }}</a></li>
    {% endfor %}
    </ol>

    <div id="all_posts">
        <a href="{{ ctx.entry.path_to_dir | as_subtitle_git_url }}" target="_blank">Upload new files</a> &mdash;
        <a href="{{ ctx.search_link.url }}" target="_blank">{{ ctx.search_link.text }}</a> &mdash;
        <a href="{{ paths.index_file_path | as_relative_to(ctx.output_file_path) }}" class="logo">Back to Index</a>
    </div>

<!-- content end -->
</main>
</div>
</div>
{% endblock %}
